body {
    font-size: 14px
}

.disabled {
    opacity: .5
}

.cursor-pointer {
    cursor: pointer
}

.editor-toolbar button.tooltip-container {
    width: auto !important;
    min-width: 40px;
    min-height: 40px;
    margin-right: 4px
}

.fs-12 {
    font-size: 12px
}

.fs-14 {
    font-size: 14px
}

.fs-16 {
    font-size: 16px
}

.tooltip-container {
    position: relative;
    display: inline-block
}

    .tooltip-container .tooltip-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px;
        background-color: #333;
        color: #fff;
        white-space: nowrap;
        font-size: .75rem;
        z-index: 999;
        margin-top: 6px;
        border-radius: 16px;
        padding: 4px 8px;
        font-weight: 400
    }

    .tooltip-container:hover .tooltip-content {
        display: block
    }
