.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: #7241fd;
}

    .nav-item ::deep a.active::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: 0;
        left: 25%;
        background-color: #7241fd;
        transform-origin: bottom right;
        transition: transform 0.3s ease;
    }
