@using Simp.Blog.Components.Admin
@inherits LayoutComponentBase

<style>
    .navbar-brand .subtitle {
        font-size: 80%;
        opacity: 0.7;
    }
</style>

<div class="container">
    <header class="px-auto">
        <nav class="navbar navbar-expand-sm navbar-light">
            <a class="navbar-brand" href="#">
                Simp.Blog
                <div class="subtitle">Subtitle</div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end fs-5" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <Tooltip TooltipContent="Dashboard">
                            <a class="nav-link" href="@AdminRoutes.Dashboard">
                                <i class="bi bi-house"></i>
                            </a>
                        </Tooltip>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @Body
</div>