@page "/admin/blog/{Id:int}"
@rendermode InteractiveServer
@inject IBlogClient blogClient
@inject NavigationManager nav

<PageTitle>@(Id > 0 ? "Edit" : "New blog")</PageTitle>

<div class="px-3 background-image">
    <div class="row d-flex align-items-center py-3">
        <div class="col-md-6">
            <button class="btn btn-primary" @onclick="Save">Save</button>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-12">
            <div class="form-group">
                <input class="form-control cs-input fs-4" placeholder="Post title" @bind-value="title" />
            </div>
        </div>
        <div class="col-md-12 mt-1">
            <div class="form-group">
                <input class="form-control cs-input fs-6" placeholder="Description" @bind-value="description" />
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="form-group">
            <AdminComponents.EasyEditorComponent @ref="_editor" Content="@content"></AdminComponents.EasyEditorComponent>
        </div>
    </div>
</div>

@code {

    [Parameter] public int? Id { get; set; }

    AdminComponents.EasyEditorComponent _editor = default!;

    string title = string.Empty;
    string description = string.Empty;
    string content = string.Empty;


    async Task Save()
    {
        var editorContent = await _editor.GetContentAsync();
        var request = new BlogRequest(title, description, editorContent);
        await blogClient.CreateAsync(request);
    }
}