.background-image {
    background-image: url('img/cover.jpg');
    background-size: cover;
    background-position: center;
}

.cs-input-sample {
    background: transparent;
}

.cs-input {
    background: transparent;
    border: none;
    padding: 8px;
    color: #fff;
}

    .cs-input::placeholder {
        color: #fff;
    }

    .cs-input:focus {
        outline: none;
        background: none;
        box-shadow: none;
        color: #fff;
        border: 1px dashed #ccc;
    }
